@using BankingApp.Core.Application.ViewModels.Operation;
@model ResponsePaymentViewModel
@{
    ViewData["Title"] = "Confirmación de pago";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>¿Está seguro que quiere hacer el pago a @Model.FullNameOwner en la cuenta @Model.DestinyAccountId?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Client" asp-action="ProcessPayment">

                    <input type="hidden" asp-for="OriginAccountId" />
                    <input type="hidden" asp-for="DestinyAccountId" />
                    <input type="hidden" asp-for="Amount" />

                    <button type="submit" class="btn btn-success">Realizar Pago</button>
                    <a asp-controller="Client" asp-action="Index" class="btn btn-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>
