
@using BankingApp.Core.Application.ViewModels.Loan;
@model SaveLoanViewModel
@{
    ViewData["Title"] = "Crear prestamo";


}
<div class="container-fluid">

    <div class="row">
        <div class="card shadow-sm contCardEditAdmiGeneric">
            <div class="card-header bg-info text-light cont_List_Friend_Title">
                <h4>Creacion de prestamos</h4>
            </div>
            @if (Model != null)
            {
                @if (Model.HasError)
                {
                    <p class="text-danger">@Model.Error</p>
                }
            }

            <div class="card-body contCard">
                <form class="row" asp-controller="AdminClient" asp-action="CreatedLoan">

                    <div class="mb-3 row">
                        <label asp-for="LoanAmount" class="form-label">Introduzca el monto</label>
                        <input type="text" asp-for="LoanAmount" class="form-control">
                    </div>
                    <input type="hidden" asp-for="UserId" value="@ViewBag.Id" />
                    <label asp-for="ShareQuantity" class="form-label mb-3">Selecciones la cantidad de cuotas</label>
                    <select class="form-select mb-3" asp-for="ShareQuantity" aria-label="Default select example">
                        <option selected>Seleccion un cuota</option>
                        <option value=6>6</option>
                        <option value=12>12</option>
                        <option value=18>18</option>
                        <option value=24>24</option>
                    </select>

                    <div class="btn-group ">
                        <button type="submit" class="btn btn-outline-primary mb-3">Guardar</button>
                        <a class="btn btn-outline-warning mb-3" asp-controller="AdminClient" asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

